.emoji {
  display: block;
  font-family: system-ui, sans-serif;
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: 16px 0;
  text-align: center;
  background-color: #9f2ea4;
}
.counter {
  color: purple;
}

div {
  padding: 16px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}